<!DOCTYPE html>
<html ng-app="todoApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Todo</title>
    </head>
    <body>
        <div ng-controller="TestCtrl1">
            <h1>Controller1</h1>
            Votre prenom : <input type="text" ng-model="firstName"/>
            <br>
            Hello {{firstName}} !! <br>
            Hello <span ng-bind="firstName"></span><br>
            <button ng-click="modifyFirstName()" >Modifier</button>
        </div>
        <div ng-controller="TestCtrl2">
            <h1>Controller1</h1>
            Hello {{firstName}} !!
        </div>

        <script src="assets/js/angular.min.js"></script>
        <script src="js/todoApp.js"></script>
    </body>
</html>
